/*****
GLOBAL
*****/

* { 
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
  
body {
  max-width: 940px;
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif; 
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
  font-family: 'Changa One', sans-serif;
}

p {
  color: #7f7f7f;
  font-weight: 300;
}

/**
NAV
**/

nav {
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

nav ul {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: flex; 
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

nav .name {
  display: inline-block;
  vertical-align: center;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

nav li {
  display: block;
  width: 100%;
  margin: 0 0 5px;
  background-color: #fff;
}

nav a {
  color: #000;
  transition: all .5s;
  text-decoration: none;
}

nav a:hover {
  color: #999;
}

nav a span {
  display: inline-block;
  width: 100%;
  font-size: .875rem;
  font-weight: 800;
  padding: .875rem;
}



/*****
HEADER
*****/

header {
  padding: 0 15px 20px;
}

.profile-image-background {
  max-width: 70%;
  margin: 30px 15%;
  padding: 15px;
  background-color: #eee;
}

.profile-image {
  max-width: 50%;
  border-radius: 100%;
  border: 2px solid #fafafa;
  padding: 0;
  margin: 0;
}



/***
MAIN
***/

section {
  padding: 2rem 15px 3rem;
}

/* Alternate white/grey for visual separation of sections */
section:nth-child(odd) {
  background-color: #fff;
}

#portfolio h3 {
  color: #4a4a4a;
  font-size: 1.2rem;
  font-weight: 400;
}

#portfolio img {
  max-width: 100%;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #a6937c;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #528cd7;
}

ul.skills.reverse li {
  background: #528cd7;
}

ul.skills.reverse li:nth-child(odd) {
  background: #a6937c;
}

.contact-info {
  font-weight: 700;
}



/*****
FOOTER
*****/

.hidden-on-mobile {
  display: none;
}

footer {
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

footer .name {
  float: left;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: auto;
  padding: 15px 0 0;
}

footer ul {
  float: right;
  padding: 15px 0 0;
}

footer li {
  float: left;
  list-style: none;
}

footer a {
  float: left;
  font-weight: 700;
  color: #4a4a4a;
  transition: all .5s;
  text-decoration: none;
}

footer a:hover {
  color: #999;
}

footer a span {
  font-size: .875rem;
  font-weight: 800;
  padding: .875rem;
}



/**********
BREAKPOINTS
**********/

@media screen and (min-width: 768px) {

  
  
}

@media screen and (min-width: 1024px) {
 
  
  
}